 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#bulb {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
    border: 0.5px solid gray;
}
button {
    padding-inline: 50px;
    padding-block: 15px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 15px;
    cursor: pointer;
}
.hidden {
    display: none;
}