*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    background: #4acefb;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(247, 246, 246);
    transition: all 0.3s ease-in-out;
    border: white;
}
button:hover{
    background: #4acefb;
    transform: scale(1.1); 
}